In [ ]:
install.packages("tidyverse")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
library("tidyverse")

In [ ]:
data<-read.csv("/titanic (2).csv")
data

    PassengerId Survived Pclass
1    1          0        3
2    2          1        1
3    3          1        3
4    4          1        1
5    5          0        3
6    6          0        3
7    7          0        1
8    8          0        3
9    9          1        3
10  10          1        2
11  11          1        3
12  12          1        1
13  13          0        3
14  14          0        3
15  15          0        3
16  16          1        2
17  17          0        3
18  18          1        2
19  19          0        3
20  20          1        3
21  21          0        2
22  22          1        2
23  23          1        3
24  24          1        1
25  25          0        3
26  26          1        3
27  27          0        3
28  28          0        1
29  29          1        3
30  30          0        3
⋮   ⋮           ⋮        ⋮
862 862         0        2
863 863         1        1
864 864         0        3
865 865         0        2
866 866         1        2
867 867         1        2
868 868         0        1
869 869         0        3
870 870         1        3
871 871         0        3
872 872         1        1
873 873         0        1
874 874         0        3
875 875         1        2
876 876         1        3
877 877         0        3
878 878         0        3
879 879         0        3
880 880         1        1
881 881         1        2
882 882         0        3
883 883         0        3
884 884         0        2
885 885         0        3
886 886         0        3
887 887         0        2
888 888         1        1
889 889         0        3
890 890         1        1
891 891         0        3
    Name                                                      Sex    Age SibSp
1   Braund, Mr. Owen Harris                                   male   22  1
2   Cumings, Mrs. John Bradley (Florence Briggs Thayer)       female 38  1
3   Heikkinen, Miss. Laina                                    female 26  0
4   Futrelle, Mrs. Jacques Heath (Lily May Peel)              female 35  1
5   Allen, Mr. William Henry                                  male   35  0
6   Moran, Mr. James                                          male   NA  0
7   McCarthy, Mr. Timothy J                                   male   54  0
8   Palsson, Master. Gosta Leonard                            male    2  3
9   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)         female 27  0
10  Nasser, Mrs. Nicholas (Adele Achem)                       female 14  1
11  Sandstrom, Miss. Marguerite Rut                           female  4  1
12  Bonnell, Miss. Elizabeth                                  female 58  0
13  Saundercock, Mr. William Henry                            male   20  0
14  Andersson, Mr. Anders Johan                               male   39  1
15  Vestrom, Miss. Hulda Amanda Adolfina                      female 14  0
16  Hewlett, Mrs. (Mary D Kingcome)                           female 55  0
17  Rice, Master. Eugene                                      male    2  4
18  Williams, Mr. Charles Eugene                              male   NA  0
19  Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)   female 31  1
20  Masselmani, Mrs. Fatima                                   female NA  0
21  Fynney, Mr. Joseph J                                      male   35  0
22  Beesley, Mr. Lawrence                                     male   34  0
23  McGowan, Miss. Anna "Annie"                               female 15  0
24  Sloper, Mr. William Thompson                              male   28  0
25  Palsson, Miss. Torborg Danira                             female  8  3
26  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson) female 38  1
27  Emir, Mr. Farred Chehab                                   male   NA  0
28  Fortune, Mr. Charles Alexander                            male   19  3
29  O'Dwyer, Miss. Ellen "Nellie"                             female NA  0
30  Todoroff, Mr. Lalio                                       male   NA  0
⋮   ⋮                                                         ⋮      ⋮   ⋮
862 Giles, Mr. Frederick Edward                               male   21  1
863 Swift, Mrs. Frederick Joel (Margaret Welles Barron)       female 48  0
864 Sage, Miss. Dorothy Edith "Dolly"                         female NA  8
865 Gill, Mr. John William                                    male   24  0
866 Bystrom, Mrs. (Karolina)                                  female 42  0
867 Duran y More, Miss. Asuncion                              female 27  1
868 Roebling, Mr. Washington Augustus II                      male   31  0
869 van Melkebeke, Mr. Philemon                               male   NA  0
870 Johnson, Master. Harold Theodor                           male    4  1
871 Balkic, Mr. Cerin                                         male   26  0
872 Beckwith, Mrs. Richard Leonard (Sallie Monypeny)          female 47  1
873 Carlsson, Mr. Frans Olof                                  male   33  0
874 Vander Cruyssen, Mr. Victor                               male   47  0
875 Abelson, Mrs. Samuel (Hannah Wizosky)                     female 28  1
876 Najib, Miss. Adele Kiamie "Jane"                          female 15  0
877 Gustafsson, Mr. Alfred Ossian                             male   20  0
878 Petroff, Mr. Nedelio                                      male   19  0
879 Laleff, Mr. Kristo                                        male   NA  0
880 Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)             female 56  0
881 Shelley, Mrs. William (Imanita Parrish Hall)              female 25  0
882 Markun, Mr. Johann                                        male   33  0
883 Dahlberg, Miss. Gerda Ulrika                              female 22  0
884 Banfield, Mr. Frederick James                             male   28  0
885 Sutehall, Mr. Henry Jr                                    male   25  0
886 Rice, Mrs. William (Margaret Norton)                      female 39  0
887 Montvila, Rev. Juozas                                     male   27  0
888 Graham, Miss. Margaret Edith                              female 19  0
889 Johnston, Miss. Catherine Helen "Carrie"                  female NA  1
890 Behr, Mr. Karl Howell                                     male   26  0
891 Dooley, Mr. Patrick                                       male   32  0
    Parch Ticket           Fare     Cabin       Embarked
1   0     A/5 21171          7.2500             S
2   0     PC 17599          71.2833 C85         C
3   0     STON/O2. 3101282   7.9250             S
4   0     113803            53.1000 C123        S
5   0     373450             8.0500             S
6   0     330877             8.4583             Q
7   0     17463             51.8625 E46         S
8   1     349909            21.0750             S
9   2     347742            11.1333             S
10  0     237736            30.0708             C
11  1     PP 9549           16.7000 G6          S
12  0     113783            26.5500 C103        S
13  0     A/5. 2151          8.0500             S
14  5     347082            31.2750             S
15  0     350406             7.8542             S
16  0     248706            16.0000             S
17  1     382652            29.1250             Q
18  0     244373            13.0000             S
19  0     345763            18.0000             S
20  0     2649               7.2250             C
21  0     239865            26.0000             S
22  0     248698            13.0000 D56         S
23  0     330923             8.0292             Q
24  0     113788            35.5000 A6          S
25  1     349909            21.0750             S
26  5     347077            31.3875             S
27  0     2631               7.2250             C
28  2     19950            263.0000 C23 C25 C27 S
29  0     330959             7.8792             Q
30  0     349216             7.8958             S
⋮   ⋮     ⋮                ⋮        ⋮           ⋮
862 0     28134            11.5000              S
863 0     17466            25.9292  D17         S
864 2     CA. 2343         69.5500              S
865 0     233866           13.0000              S
866 0     236852           13.0000              S
867 0     SC/PARIS 2149    13.8583              C
868 0     PC 17590         50.4958  A24         S
869 0     345777            9.5000              S
870 1     347742           11.1333              S
871 0     349248            7.8958              S
872 1     11751            52.5542  D35         S
873 0     695               5.0000  B51 B53 B55 S
874 0     345765            9.0000              S
875 0     P/PP 3381        24.0000              C
876 0     2667              7.2250              C
877 0     7534              9.8458              S
878 0     349212            7.8958              S
879 0     349217            7.8958              S
880 1     11767            83.1583  C50         C
881 1     230433           26.0000              S
882 0     349257            7.8958              S
883 0     7552             10.5167              S
884 0     C.A./SOTON 34068 10.5000              S
885 0     SOTON/OQ 392076   7.0500              S
886 5     382652           29.1250              Q
887 0     211536           13.0000              S
888 0     112053           30.0000  B42         S
889 2     W./C. 6607       23.4500              S
890 0     111369           30.0000  C148        C
891 0     370376            7.7500              Q

In [ ]:
head(data)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
6 6           0        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
6 Moran, Mr. James                                    male   NA  0     0
  Ticket           Fare    Cabin Embarked
1 A/5 21171         7.2500       S
2 PC 17599         71.2833 C85   C
3 STON/O2. 3101282  7.9250       S
4 113803           53.1000 C123  S
5 373450            8.0500       S
6 330877            8.4583       Q

In [ ]:
tail(data)

    PassengerId Survived Pclass Name                                     Sex
886 886         0        3      Rice, Mrs. William (Margaret Norton)     female
887 887         0        2      Montvila, Rev. Juozas                    male
888 888         1        1      Graham, Miss. Margaret Edith             female
889 889         0        3      Johnston, Miss. Catherine Helen "Carrie" female
890 890         1        1      Behr, Mr. Karl Howell                    male
891 891         0        3      Dooley, Mr. Patrick                      male
    Age SibSp Parch Ticket     Fare   Cabin Embarked
886 39  0     5     382652     29.125       Q
887 27  0     0     211536     13.000       S
888 19  0     0     112053     30.000 B42   S
889 NA  1     2     W./C. 6607 23.450       S
890 26  0     0     111369     30.000 C148  C
891 32  0     0     370376      7.750       Q

In [ ]:
summary(data)

  PassengerId       Survived          Pclass          Name
 Min.   :  1.0   Min.   :0.0000   Min.   :1.000   Length:891
 1st Qu.:223.5   1st Qu.:0.0000   1st Qu.:2.000   Class :character
 Median :446.0   Median :0.0000   Median :3.000   Mode  :character
 Mean   :446.0   Mean   :0.3838   Mean   :2.309
 3rd Qu.:668.5   3rd Qu.:1.0000   3rd Qu.:3.000
 Max.   :891.0   Max.   :1.0000   Max.   :3.000

     Sex                 Age            SibSp           Parch
 Length:891         Min.   : 0.42   Min.   :0.000   Min.   :0.0000
 Class :character   1st Qu.:20.12   1st Qu.:0.000   1st Qu.:0.0000
 Mode  :character   Median :28.00   Median :0.000   Median :0.0000
                    Mean   :29.70   Mean   :0.523   Mean   :0.3816
                    3rd Qu.:38.00   3rd Qu.:1.000   3rd Qu.:0.0000
                    Max.   :80.00   Max.   :8.000   Max.   :6.0000
                    NA's   :177
    Ticket               Fare           Cabin             Embarked
 Length:891         Min.   :  0.00   Length:891         Length:891
 Class :character   1st Qu.:  7.91   Class :character   Class :character
 Mode  :character   Median : 14.45   Mode  :character   Mode  :character
                    Mean   : 32.20
                    3rd Qu.: 31.00
                    Max.   :512.33

In [ ]:
str(data)

'data.frame':	891 obs. of  12 variables:
 $ PassengerId: int  1 2 3 4 5 6 7 8 9 10 ...
 $ Survived   : int  0 1 1 1 0 0 0 0 1 1 ...
 $ Pclass     : int  3 1 3 1 3 3 1 3 3 2 ...
 $ Name       : chr  "Braund, Mr. Owen Harris" "Cumings, Mrs. John Bradley (Florence Briggs Thayer)" "Heikkinen, Miss. Laina" "Futrelle, Mrs. Jacques Heath (Lily May Peel)" ...
 $ Sex        : chr  "male" "female" "female" "female" ...
 $ Age        : num  22 38 26 35 35 NA 54 2 27 14 ...
 $ SibSp      : int  1 1 0 1 0 0 0 3 0 1 ...
 $ Parch      : int  0 0 0 0 0 0 0 1 2 0 ...
 $ Ticket     : chr  "A/5 21171" "PC 17599" "STON/O2. 3101282" "113803" ...
 $ Fare       : num  7.25 71.28 7.92 53.1 8.05 ...
 $ Cabin      : chr  "" "C85" "" "C123" ...
 $ Embarked   : chr  "S" "C" "S" "S" ...

In [ ]:
table(data$survived)

< table of extent 0 >

In [ ]:
dim(data)

[1] 891  12

In [ ]:
colnames(data)

 [1] "PassengerId" "Survived"    "Pclass"      "Name"        "Sex"
 [6] "Age"         "SibSp"       "Parch"       "Ticket"      "Fare"
[11] "Cabin"       "Embarked"

In [ ]:
data1<-data%>% mutate(Discount_Fare=Fare-(Fare*0.10))

In [ ]:
head(data1)

  PassengerId Survived Pclass
1 1           0        3
2 2           1        1
3 3           1        3
4 4           1        1
5 5           0        3
6 6           0        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
6 Moran, Mr. James                                    male   NA  0     0
  Ticket           Fare    Cabin Embarked Discount_Fare
1 A/5 21171         7.2500       S         6.52500
2 PC 17599         71.2833 C85   C        64.15497
3 STON/O2. 3101282  7.9250       S         7.13250
4 113803           53.1000 C123  S        47.79000
5 373450            8.0500       S         7.24500
6 330877            8.4583       Q         7.61247

In [ ]:
is.na(data)

      PassengerId Survived Pclass Name  Sex   Age   SibSp Parch Ticket Fare
 [1,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
 [2,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
 [3,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
 [4,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
 [5,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
 [6,] FALSE       FALSE    FALSE  FALSE FALSE  TRUE FALSE FALSE FALSE  FALSE
 [7,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
 [8,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
 [9,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[10,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[11,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[12,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[13,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[14,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[15,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[16,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[17,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[18,] FALSE       FALSE    FALSE  FALSE FALSE  TRUE FALSE FALSE FALSE  FALSE
[19,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[20,] FALSE       FALSE    FALSE  FALSE FALSE  TRUE FALSE FALSE FALSE  FALSE
[21,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[22,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[23,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[24,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[25,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[26,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[27,] FALSE       FALSE    FALSE  FALSE FALSE  TRUE FALSE FALSE FALSE  FALSE
[28,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[29,] FALSE       FALSE    FALSE  FALSE FALSE  TRUE FALSE FALSE FALSE  FALSE
[30,] FALSE       FALSE    FALSE  FALSE FALSE  TRUE FALSE FALSE FALSE  FALSE
[31,] ⋮           ⋮        ⋮      ⋮     ⋮     ⋮     ⋮     ⋮     ⋮      ⋮
[32,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[33,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[34,] FALSE       FALSE    FALSE  FALSE FALSE  TRUE FALSE FALSE FALSE  FALSE
[35,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[36,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[37,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[38,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[39,] FALSE       FALSE    FALSE  FALSE FALSE  TRUE FALSE FALSE FALSE  FALSE
[40,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[41,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[42,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[43,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[44,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[45,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[46,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[47,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[48,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[49,] FALSE       FALSE    FALSE  FALSE FALSE  TRUE FALSE FALSE FALSE  FALSE
[50,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[51,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[52,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[53,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[54,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[55,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[56,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[57,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[58,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[59,] FALSE       FALSE    FALSE  FALSE FALSE  TRUE FALSE FALSE FALSE  FALSE
[60,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
[61,] FALSE       FALSE    FALSE  FALSE FALSE FALSE FALSE FALSE FALSE  FALSE
      Cabin Embarked
 [1,] FALSE FALSE
 [2,] FALSE FALSE
 [3,] FALSE FALSE
 [4,] FALSE FALSE
 [5,] FALSE FALSE
 [6,] FALSE FALSE
 [7,] FALSE FALSE
 [8,] FALSE FALSE
 [9,] FALSE FALSE
[10,] FALSE FALSE
[11,] FALSE FALSE
[12,] FALSE FALSE
[13,] FALSE FALSE
[14,] FALSE FALSE
[15,] FALSE FALSE
[16,] FALSE FALSE
[17,] FALSE FALSE
[18,] FALSE FALSE
[19,] FALSE FALSE
[20,] FALSE FALSE
[21,] FALSE FALSE
[22,] FALSE FALSE
[23,] FALSE FALSE
[24,] FALSE FALSE
[25,] FALSE FALSE
[26,] FALSE FALSE
[27,] FALSE FALSE
[28,] FALSE FALSE
[29,] FALSE FALSE
[30,] FALSE FALSE
[31,] ⋮     ⋮
[32,] FALSE FALSE
[33,] FALSE FALSE
[34,] FALSE FALSE
[35,] FALSE FALSE
[36,] FALSE FALSE
[37,] FALSE FALSE
[38,] FALSE FALSE
[39,] FALSE FALSE
[40,] FALSE FALSE
[41,] FALSE FALSE
[42,] FALSE FALSE
[43,] FALSE FALSE
[44,] FALSE FALSE
[45,] FALSE FALSE
[46,] FALSE FALSE
[47,] FALSE FALSE
[48,] FALSE FALSE
[49,] FALSE FALSE
[50,] FALSE FALSE
[51,] FALSE FALSE
[52,] FALSE FALSE
[53,] FALSE FALSE
[54,] FALSE FALSE
[55,] FALSE FALSE
[56,] FALSE FALSE
[57,] FALSE FALSE
[58,] FALSE FALSE
[59,] FALSE FALSE
[60,] FALSE FALSE
[61,] FALSE FALSE

In [ ]:
colSums(is.na(data))

PassengerId    Survived      Pclass        Name         Sex         Age
          0           0           0           0           0         177
      SibSp       Parch      Ticket        Fare       Cabin    Embarked
          0           0           0           0           0           0

In [ ]:
data1<-data1%>%drop_na()

In [ ]:
colSums(is.na(data1))

  PassengerId      Survived        Pclass          Name           Sex
            0             0             0             0             0
          Age         SibSp         Parch        Ticket          Fare
            0             0             0             0             0
        Cabin      Embarked Discount_Fare
            0             0             0

In [ ]:
data<-data%>%select(-Cabin)

In [ ]:
dim(data)

[1] 891  11

In [ ]:
colnames(data)

 [1] "PassengerId" "Survived"    "Pclass"      "Name"        "Sex"
 [6] "Age"         "SibSp"       "Parch"       "Ticket"      "Fare"
[11] "Embarked"

In [ ]:
data$Age[is.na(data$Age)]<-mean(data$Age,na.rm=TRUE)

In [ ]:
mod_age<-names(which.max(table(data1$Age)))

In [ ]:
data$Age[is.na(data$Age)]<-mod_age

In [ ]:
colSums(is.na(data1))

  PassengerId      Survived        Pclass          Name           Sex
            0             0             0             0             0
          Age         SibSp         Parch        Ticket          Fare
            0             0             0             0             0
        Cabin      Embarked Discount_Fare
            0             0             0

In [ ]:
data<-data%>%select(-PassengerId,-Name,-Ticket,-Embarked)

In [ ]:
dim(data)

[1] 891   7

In [ ]:
data<-data1%>%select(-PassengerId,-Name,-Ticket,-Embarked)

In [ ]:
dim(data)

[1] 714   9